@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #f0f0f0;
  background-color: #000;
}

header {
  background-color: #292b2c;
  color: #f0f0f0;
  text-align: center;
  padding: 20px 20px;
}

hr.linha-acima,
hr.linha-abaixo {
  border: none;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header h2 {
  margin: 0;
  font-size: 1.6em;
  font-weight: normal;
}

header p {
  font-size: 1.2em;
  margin: 10px 0;
}

.cta-button {
  display: inline-block;
  background-color: #3491ff;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 1.2em;
}

.cta-button:hover {
  background-color: #555;
}

header a {
  text-decoration: none;
  color: #3491ff;
}

section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#comodidades,
#beneficios,
#areas,
#conteudo,
#sobre,
#cta,
#formulario {
  margin-bottom: 20px;
}

#comodidades ul {
  text-indent: 20px;
  list-style-type: none;
  padding-left: 20px;
}

#beneficios ul {
  list-style-type: none;
  padding-left: 20px;
}

#areas .areas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.area {
  background-color: #555;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conteudo article {
  background-color: #555;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conteudo article h3 {
  margin-top: 0;
}

#sobre {
  text-align: center;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin: 20px 0;
}

#formulario form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

#formulario label {
  margin-top: 10px;
  font-weight: bold;
}

#formulario input,
#formulario textarea {
  background-color: #555;
  color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

#formulario button {
  background-color: #3491ff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

#formulario button:hover {
  background-color: #555;
}

footer {
  background-color: #292b2c;
  color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  .cta-button {
    padding: 12px 25px;
    font-size: 1em;
  }

  section {
    padding: 20px 10px;
  }
}